@page
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Areas.Identity.Data.WinterWhispersUser> SignInManager
@inject UserManager<Areas.Identity.Data.WinterWhispersUser> UserManager
@model WinterWhispers.Pages.RoleAdmin.IndexModel
@{

}


@if (SignInManager.IsSignedIn(User))
{
    @if (Model.IsUser)
    {
        <p>Du är inte administratör på sidan.</p>
    }
    else if (Model.IsAdmin)
    {
        <p>Du är admin på sidan, välkommen.</p>

        <table class="table">
            <tr>
                <th>Username</th>
                @foreach (var role in Model.Roles)
                {
                    <th>@role.Name</th>
                }
            </tr>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.UserName</td>

                    @foreach (var role in Model.Roles)
                    {
                        if (await Model._userManager.IsInRoleAsync(user, role.Name))
                        {
                            <td><a href="?RemoveUserId=@user.Id&RoleName=@role.Name">Ja</a></td>
                        }
                        else
                        {
                            <td><a href="?AddUserId=@user.Id&RoleName=@role.Name">Nej</a></td>
                        }
                    }
                </tr>
            }
        </table>

        <form method="post">
            <label for="RoleName">Ny roll</label>
            <input name="RoleName" id="RoleName"></input>
            <input type="submit" value="Skapa ny roll"></input>
        </form>
    }
}
else
{
    <p>Du är inte inloggad.</p>
}
