@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personlig information";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Ditt konto innehåller personuppgifter som du har gett oss. På den här sidan kan du ladda ner eller ta bort personuppgifter.</p>
        <p>
            <strong>Om du raderar personuppgifterna tas ditt konto bort permanent och kan inte återställas.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Ladda ner personuppgifter</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Ta bort personuppgifter och mitt konto</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
